%{erl_opts, [native, {hipe, [verbose]}, warnings_as_errors, debug_info]}.

{deps, [
       {pink_hash, "1", {git, "https://github.com/BumblebeeBat/pink_crypto", {tag, "master"}}},
       {dump, "1", {git, "https://github.com/BumblebeeBat/dump", {tag, "master"}}}
]}.

{plugins, [rebar3_proper]}.
{profiles, [{test, [{deps, [{proper, "1.2.0"}]}]}]}.
